<div class="info-tile box ">
  <div class="pointer">
    <div class="mark"></div>
  </div>

  {{#if title}}
    <h3>{{title}}</h3>
  {{/if}}
  {{#if description}}
    {{{description}}}
  {{/if}}

  {{#if img}}
    {{#with img}}
      <a href="img/portfolio/large/{{file}}" class="{{#if nolg}}{{else}}view-large{{/if}} {{classes}}">
        <img src="img/portfolio/thumb/{{file}}" title="{{title}}" alt="{{alt}}"/>
        {{#if nolg}}{{else}}<i class="fa fa-search-plus"></i>{{/if}}
      </a>
    {{/with}}
  {{/if}}

  {{#if link}}
    {{#with link}}
      <p class="text-centered">
        <a href="{{address}}" target="_blank" class="external">
          <span>{{label}}</span><i class="fa fa-external-link"></i>
        </a>
      </p>
    {{/with}}
  {{/if}}

  {{#if links}}
    {{#each links}}
      <p class="text-centered">
        <a href="{{address}}" target="_blank" class="external">
          <span>{{label}}</span><i class="fa fa-external-link"></i>
        </a>
      </p>
    {{/each}}
  {{/if}}

</div>
