---
title: <%= education.title %>
intro: <%= education.intro %>
nav.top: <% _.map(nav.top, function(navItem){ if (navItem.label === education.title) navItem.active = true; else navItem.active = false; return navItem; }); %>
---
{{#with education}}

  <h3>Formal</h3>
  <div class="records-list">
    {{#each formal}}
    <article>

      <div class="row">
        <div class="small-3 columns">img</div>
        <div class="small-9 columns text-justify">
          {{#if title}}
          <h4>{{title}}</h4>
          {{/if}}

          {{#if school}}
          <h5>{{{school}}}, {{date}}</h5>
          {{/if}}

          <p>FIXME: A very short paragraph</p>

        </div>
      </div>

    </article>
    {{/each}}
  </div>

  <h3>Certificates &amp; Training</h3>
  <div class="records-list">
    {{#each certificates}}
    <article>

      <div class="row">
        <div class="small-3 columns">img</div>
        <div class="small-9 columns text-justify">
          {{#if title}}
          <h4>{{title}}</h4>
          {{/if}}

          {{#if school}}
          <h5>{{{school}}}, {{date}}</h5>
          {{/if}}

          <p>FIXME: A very short paragraph</p>

        </div>
      </div>

    </article>
    {{/each}}
  </div>

{{/with}}
