---
title: <%= education.title %>
intro: <%= education.intro %>
nav.top: <% _.map(nav.top, function(navItem){ if (navItem.label === education.title) navItem.active = true; else navItem.active = false; return navItem; }); %>
---
{{#with education}}

  <div class="records-list">
    {{#each records}}
    <article>

      <header>
        {{#if title}}
        <h3>{{title}}</h3>
        {{/if}}

        {{#if school}}
        <h4>{{{school}}}</h4>
        {{/if}}
      </header>

      {{#if image}}
        <div class="row">
          <div class="small-3 columns"></div>
          <div class="small-9 columns text-justify">{{{description}}}</div>
        </div>
      {{else}}
        <div class="text-justify">
          {{{description}}}
        </div>
      {{/if}}

    </article>
    {{/each}}
  </div>

{{/with}}
