---
title: <%= events.title %>
intro: <%= events.intro %>
nav.top: <% _.map(nav.top, function(navItem){ if (navItem.label === events.title) navItem.active = true; else navItem.active = false; return navItem; }); %>
---
{{#with events}}

  <div class="records-list">
    {{#each records}}
        <article class="row">

          <div class="small-3 columns">FIXME: Date and location</div>
          <div class="small-9 columns text-justify">
            {{#if title}}
              <h3>{{{title}}}</h3>
            {{/if}}

            {{#if role}}
            <h4>{{{role}}}</h4>
            {{/if}}

            <p><a href="link">FIXME: Link to gihub</a> &bullet; <a href="link">FIXME: link to blog</a></p>

            <footer>
              <p>{{type}}{{#if place.title}} @ {{#if place.link}}<a href="{{place.link}}" target="_blank">{{/if}}{{place.title}}{{#if place.link}}</a>{{/if}}{{#if place.location}}, {{place.location}}{{/if}}{{/if}}</p>
            </footer>

          </div>

        </article>
    {{/each}}
  </div>

{{/with}}
