---
title: <%= events.title %>
intro: <%= events.intro %>
---
{{#with events}}

  {{#each records}}
    <article>
      <header>
        {{#if title}}
          <h3>{{{title}}}</h3>
        {{/if}}

        {{#if role}}
        <h4>{{{role}}}</h4>
        {{/if}}
      </header>

      {{#if description}}
      <div class="text-justify">
        {{{description}}}
      </div>
      {{/if}}

      <footer class="text-right">
        <p>{{type}}{{#if place.title}} @ {{#if place.link}}<a href="{{place.link}}" target="_blank">{{/if}}{{place.title}}{{#if place.link}}</a>{{/if}}{{#if place.location}}, {{place.location}}{{/if}}{{/if}}{{#if date}} in {{date}}{{/if}}</p>
      </footer>

    </article>
  {{/each}}

{{/with}}
