---
title: <%= experience.title %>
intro: <%= experience.intro %>
nav.top: <% _.map(nav.top, function(navItem){ if (navItem.label === experience.title) navItem.active = true; else navItem.active = false; return navItem; }); %>
class: <%= experience.class %>
---
{{#with experience}}

  <div class="records-list">
    {{#each records}}
      <article>

        <header>

          {{#if role}}
          <h3>{{role}}</h3>
          {{/if}}

          {{#if company}}
          <h4>{{company.title}}</h4>
          {{/if}}


          <h5>{{dates}}, {{company.location}}</h5>

        </header>

        {{{description}}}

        {{#if skills}}
          <footer>{{{skills}}}</footer>
        {{/if}}

      </article>
      {{/each}}
  </div>

{{/with}}
